
.navBarColor
{
    background-color: rgb(51,58,64);
   
}
.whiteTipo
{
    color:white
}
.nav-link
{
    color: gray;
}
.nav-link:focus
{
    color: white;
}
.linkCompra
{
    color: rgb(41,167,70);
}
.bgBlack
{
    background-color: rgba(0, 0, 0, 0.473);
}
.carruseltext
{
  padding-top: 20%;
  padding-left: 50%;
  padding-right: 10%;
  text-align: right;
  font-size: 1.3em;
}